/*para sa drop down menu*/
.background {
	background-color: E9F1F4;
}

ul.ddMenu, ul.ddMenu ul
	{
	list-style:none;
	margin:0; padding:0px;
	}

ul.ddMenu ul 						
	{ 
        display:none;
        position: absolute; 
		border:1px solid black;
        padding:1px;
        background:black;
	}

ul.ddMenu li:hover > ul 			
	{ 
	display:block;
	}	

ul.ddMenu li a
        {
        display: block; 
        padding: 5px; 
        color:white;
        font-family:Century Gothic;
        font-size: 15px;
    }

ul.ddMenu li:hover
        { 
        background:black;
    }

ul.ddMenu li
        { 
        background:black;
    }
	

/*para sa designs ng web*/

a:link {color:white;}
a:visited {color:white;}
a:hover.cs{color:green;}
a:hover.it{color:red;}
a:hover.is{color:orange;}
a:active{color:white;}

	
body
{
	background-image:url('cs4.jpg');
	background-repeat:no-repeat;
	background-position:center;
	background-color:white;
	background-attachment:fixed;
}


div.desc
{
	background-color:97A0B8;
	position:relative;
	animation:myfirst 1s;
	-moz-animation:myfirst 1s; /* Firefox */
	-webkit-animation:myfirst 1s; /* Safari and Chrome */
	-o-animation:myfirst 1s; /* Opera */
	opacity:0.90;
	filter:alpha(opacity=90);
}
@keyframes myfirst
{
0%   {left:-80px; top:0px;}
50%  {left:20px; top:0px;}
100% {left:0px; top:0px;}
}

@-moz-keyframes myfirst /* Firefox */
{
0%   {left:-80px; top:0px;}
50%  {left:20px; top:0px;}
100% {left:0px; top:0px;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
0%   {left:-80px; top:0px;}
50%  {left:20px; top:0px;}
100% {left:0px; top:0px;}
}

@-o-keyframes myfirst /* Opera */
{
0%   {left:-80px; top:0px;}
50%  {left:20px; top:0px;}
100% {left:0px; top:0px;}
}


div.contact
{
	background-color:6D7394;
	position:relative;
	animation:cont 1s;
	-moz-animation:cont 1s; /* Firefox */
	-webkit-animation:cont 1s; /* Safari and Chrome */
	-o-animation:cont 1s; /* Opera */
	opacity:0.90;
	filter:alpha(opacity=90);
}

@keyframes cont
{
0%   {left:80px; top:0px;}
50%  {left:-20px; top:0px;}
100% {left:0px; top:0px;}
}

@-moz-keyframes cont /* Firefox */
{
0%   {left:80px; top:0px;}
50%  {left:-20px; top:0px;}
100% {left:0px; top:0px;}
}

@-webkit-keyframes cont /* Safari and Chrome */
{
0%   {left:80px; top:0px;}
50%  {left:-20px; top:0px;}
100% {left:0px; top:0px;}
}

@-o-keyframes cont /* Opera */
{
0%   {left:80px; top:0px;}
50%  {left:-20px; top:0px;}
100% {left:0px; top:0px;}
}

div.org
{
	background-color:595F85;
	position:relative;
	animation:org 1s;
	-moz-animation:org 1s; /* Firefox */
	-webkit-animation:org 1s; /* Safari and Chrome */
	-o-animation:org 1s; /* Opera */
	opacity:0.90;
	filter:alpha(opacity=90);
}

@keyframes org
{
0%   {left:0px; top:-50px;}
50%   {left:0px; top:50px;}
100% {left:0px; top:0px;}
}

@-moz-keyframes org /* Firefox */
{
0%   {left:0px; top:-50px;}
50%   {left:0px; top:50px;}
100% {left:0px; top:0px;}
}

@-webkit-keyframes org /* Safari and Chrome */
{
0%   {left:0px; top:-50px;}
50%   {left:0px; top:50px;}
100% {left:0px; top:0px;}
}

@-o-keyframes org /* Opera */
{
0%   {left:0px; top:-50px;}
50%   {left:0px; top:50px;}
100% {left:0px; top:0px;}
}